$dark_dark_blue: hsl(209, 23%, 22%);
$dark_very_dark_blue: hsl(207, 26%, 17%);
$light_very_dark_blue: hsl(200, 15%, 8%);
$light_dark_gray: hsl(0, 0%, 52%);
$light_very_light_gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

@mixin theme-colors($dark-theme: true) {
  @if $dark-theme {
    background-color: $dark_very_dark_blue;
    color: $white;

  } @else {
    background-color: $light_very_light_gray;
    color: $light_very_dark_blue;
  }
}